/* ******************* */
/*        Footer       */
/* ******************* */
footer {
	background: $mc !important;
	// min-height: 100px;
	color: white;
	padding: 15px 0px;

	.container {
		margin: auto;
		.row {
			gap: 0px !important;
			padding: 0px !important;
			align-items: center;
		}
	}
	p {
		font-size: 13.5px;
		margin-bottom: 4px;
		a{
			color:white;
			font-weight:bold;
			transition: .3s all linear;
			&:hover{
				letter-spacing: 1px;
			}
		}
	}
	
}
